body{
	background-color:#393536;
	margin:0px;
	padding:0px;
	height:100vh;
	overflow:hidden;
}
img{
	width:100%;
	height:auto;
}
#header{
	height:3vh;
	width:100%;
}
#dynamicnavbar{
	height:6vh;
	width:100%;
	background-color:#FDF298;
	display:table;
}
#footer{
	background-color:#FDF298;
	width:100%;
	height:10vh;
}
#logoDiv{
	display:fixed;
}
#container{
	display:flex;
}
#logoImage{
	padding:4vh;
}
#accountbuttons{
	display:inline;
	height:6vh;
	margin:0px;
	padding:0px;
	float:right;
}
#countingdowntext{
	color:#000000;
	font-family:Times New Roman;
	font-size:4vh;
	margin:0px;
	padding:1vh 3vw;
	display:inline;
}
.button{
	height:6vh;
	color:#000000;
	font-family:Times New Roman;
	font-size:3vh;
	margin:0px;
	padding:1vh 3vw;
	display:inline-block;
	text-align:center;
}
.button:hover{
	background-color:#F4E009;
	color:#000000;
	font-family:Times New Roman;
	text-decoration:none;
}