{% extends "template.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}



    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
    <div class="buttoncontainer">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnproperty">
            <div class="buttonpossiton">
                <a class="homebutton" href="/post/list/">
                    <img src="{% static '/icons/forumicon.svg' %}" class="buttonimg">
                    <p class="buttontext">{% trans 'Posts' %}</p>
                </a>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnproperty">
            <div class="buttonpossiton">
                <a class="homebutton" href="/vip/jury">
                    <img src="{% static '/icons/jury.svg' %}" class="buttonimg">
                    <p class="buttontext">{% trans 'Jury/Speakers' %}</p>
                </a>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnproperty">
            <div class="buttonpossiton">
                <a class="homebutton" href="/information">
                    <img src="{% static '/icons/bialjamicon.png' %}" class="buttonimg">
                    <p class="buttontext">{% trans 'About us' %}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="buttoncontainer">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnproperty">
            <div class="buttonpossitonsec">
                <a class="homebutton" href="/gallery/albums">
                    <img src="{% static '/icons/galleryicon.svg' %}" class="buttonimg">
                    <p class="buttontext">{% trans 'Gallery' %}</p>
                </a>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnproperty">
            <div class="buttonpossitonsec">
                <a class="homebutton" href="/games/list">
                    <img src="{% static '/icons/padicon.svg' %}" class="buttonimg">
                    <p class="buttontext">{% trans 'Games' %}</p>
                </a>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columnproperty">
            <div class="buttonpossitonsec">
                <a class="homebutton" href="/team/teams">
                    <img src="{% static '/icons/teams.svg' %}" class="buttonimg">
                    <p class="buttontext">{% trans 'Teams' %}</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
