{% extends "template.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/directories_list.css' %}">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 forcontainer">
        {% if messages %}
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div class="messages " >
                    {% for message in messages %}
                        <div class="{{ message.tags }}">
                            {{ message }}
                            <a href="/" class="close">✖</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>

        {% else %}
            {% for directory in directories %}
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 remove-padding">
                    <div class="buttonpossitonsec">
                        <a class="homebutton" href="/gallery/album/{{ directory.id }}">
                            <img src="{% static '/icons/galleryicon.svg' %}" class="buttonimg">
                            <p class="buttontext">{{ directory.name|upper }}</p>
                        </a>
                    </div>
                </div>
            {% endfor %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remove-padding">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 remove-padding"></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 remove-padding">
                    {% if directories.has_previous %}
                        <a class="prevtext"
                           href="?page={{ directories.previous_page_number }}">{% trans 'Previous' %}</a>
                    {% endif %}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 remove-padding">
        <span class="step-links">
            <span class="current">
                <a class="pagetext">{% trans 'Page' %} {{ directories.number }} {% trans 'of' %} {{ directories.paginator.num_pages }}.</a>
            </span>
        </span>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 remove-padding">
                    {% if directories.has_next %}
                        <a class="nexttext" href="?page={{ directories.next_page_number }}">{% trans 'Next' %}</a>
                    {% endif %}
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 remove-padding"></div>
            </div>
        {% endif %}
    </div>

{% endblock %}
