@font-face {
    font-family: siteFont;
    src: url("/static/fonts/TitilliumWeb-Bold.ttf");
}
.buttonpossiton {
    display: flex;
    padding: 5vw 3vw 1.5vw 3vw;
}

.homebutton {
    display: block;
    background-color: #ABE0F8;
    width: 100%;
}

.homebutton:hover {
    text-decoration: none;
    color: #FFFFFF;
    opacity: .5;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.columnproperty {
    padding-right: 0px;
    padding-left: 0px;
}

.buttonimg {
    padding: 1.7vw 2vw 0vw 2vw;
}

.buttontext {
    padding: 0px;
    margin: 0px;
    font-size: 2vw;
    font-family: siteFont;
    text-align: center;
    color: #000000;
}

.pagetext {
    padding: 0px;
    margin: 0px;
    font-size: 2vw;
    font-family: siteFont;
    text-align: center;
    color: #ABE0F8;
    width: 100%;
    display: block;
}

.buttonpossitonsec {
    padding: 2.5vw 2vw 1.5vw 2vw;
}

.forcontainer {
    display: inline-block;
    padding: 1vw 1vw 1vw 1vw;
}
.remove-padding{
    padding-right: 0;
    padding-left: 0;
}
.nexttext {
    text-align: right;
    padding: 0px;
    margin: 0px;
    font-size: 2vw;
    font-family: siteFont;
    color: #ABE0F8;
    width: 100%;
    display: block;
}
.prevtext {
    text-align: left;
    padding: 0px;
    margin: 0px;
    font-size: 2vw;
    font-family: siteFont;
    color: #ABE0F8;
    width: 100%;
}
.messages{
font-family: siteFont; 
background-color: #FCEE82;
padding: 1vw; 
border-radius: 5px;
font-size: 2vw;
    
}
