@font-face {
    font-family: siteFont;
    src: url("/static/fonts/TitilliumWeb-Bold.ttf");
}
.buttoncontainer{
 display:flex;
}
.buttonpossiton{
 display:flex;
 padding:4vw 3vw 1.5vw 3vw;
}
.homebutton{
 display:table-cell;
 background-color:#ABE0F8;
 width:100%;
}
.homebutton:hover{
  	text-decoration:none;
    color:#FFFFFF;
    opacity: .5;
    -webkit-transition: .3s ease-in-out;
	   transition: .3s ease-in-out;
}
.columnproperty{
 display:flex;
 padding-right:0px;
 padding-left:0px;
}
.buttonimg{
 padding: 1.7vw 2vw  0vw 2vw;
}
.buttontext{
  padding: 0px;
  margin: 0px;
  font-size: 2vw;
  font-family: siteFont;
  text-align: center;
  color: #000000;
}
.buttonpossitonsec{
 display:flex;
 padding:1.5vw 3vw 5vw 3vw;
}
