@font-face {
    font-family: siteFont;
    src: url("/static/fonts/TitilliumWeb-Bold.ttf");
}

#informationdiv{
    padding-top: 10vw;
    font-family: siteFont;

}

#infodiv{
    background-color: #ABE0F8;
    padding: 2vw;
    border-radius: 25px;
    font-size: 1vw;


}

.contact-top {
    margin-bottom: 0px;
    margin-top: 2vw;
}

.contact-mid {
    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
}

.contact-bot {
    margin-bottom: 1vw;
}

.description {
    margin-top: 1vw;
    font-style: oblique;
}
.messages{
font-family: siteFont; 
background-color: #FCEE82; 
padding: 1vw; 
border-radius: 5px;
font-size: 2vw;
    
}
