@font-face {
    font-family: siteFont;
    src: url("/static/fonts/TitilliumWeb-Bold.ttf");
}

.photopossiton{
    width: 100%;
    padding:5vw 3vw 1.5vw 3vw;
}
.pagetext {
    padding: 0px;
    margin: 0px;
    font-size: 2vw;
    font-family: siteFont;
    text-align: center;
    color: #ABE0F8;
    width: 100%;
    display: block;
}
.nexttext {
    text-align: right;
    padding: 0px;
    margin: 0px;
    font-size: 2vw;
    font-family: siteFont;
    color: #ABE0F8;
    width: 100%;
    display: block;
}
.prevtext {
    text-align: left;
     padding: 0px;
     margin: 0px;
     font-size: 2vw;
     font-family: siteFont;
     color: #ABE0F8;
    width: 100%;
 }
.photoscontainer{
     display:flex;

}
.columnproperty{
    padding: 0px;
    margin: 0px;
}
.textPosition{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.buttonpossiton {
    display: inline-block;
    width: 100%;
    height: 13vw;
}

.homebutton {
    display: block;
    background-color: #ABE0F8;
    width: 100%;
    height: 100%;
}

.homebutton:hover {
    text-decoration: none;
    color: #FFFFFF;
    opacity: .5;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.padding-set{
    padding: 2vw 2vw 1.5vw 2vw;

}
.buttonimg {
    height: inherit;
    padding: 1vw 1vw 1vw 1vw;
}
.remove-padding{
    padding-left: 0px;
    padding-right: 0px;
}
.center-content{
    padding: 2vw 0 0 0;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}