@font-face {
    font-family: siteFont;
    src: url("/static/fonts/TitilliumWeb-Bold.ttf");
}
a {
    color: #000000;
}

a:hover {
    color: #000000;
}
.padding-set-0{
    padding: 0!important;
}
#content{
    background-color: #7b7979;
    /*overflow-y: scroll;*/
    height: 80vh;
    font-family: siteFont!important;

}
.post-title{
    padding: 0.5vh;
    font-size: 2.3vw;
    text-align: center;
}
.img-post{

    width: 80%;
    display: block;
    margin: auto;
    padding-top: 0.5vw;
    max-height: 40vh;
}
.post-content{

    font-size: 1vw;
}