.team_name {
    font-size: 2vw;
    font-weight: bold;
    margin: auto;
    padding-top: 4vw
}

.team_container {
    text-align: center;
    background-color: #BBBBBB;
    padding: 2vw 0 0  0;
    font-size: 1vw;
    height: 100%;
}

#team_logo {
    padding-top: 0.5vw;
    max-height: 22vh;
    width: auto;
    top: 50%;
}

.team_info {
    text-align: left;

}

#team_img {
    max-height: 15vw;
    max-width: 15vw;
    background-color: #bbbbbb;
    padding: 2vw;
    margin: 1vw;
}

.avatar {
    width: 2vw;
    height: 2vw;
}

#team_members {
    font-size: 1.5vw;
    overflow-y: scroll;
    height: 20vh;
}
#frame{
    height: 15vw;
    width: 15vw;
    align-items: center;
}
.messages{
font-family: siteFont;
background-color: #FCEE82;
padding: 1vw;
border-radius: 5px;
font-size: 2vw;

}
.p-center {
    font-size: 1.5vw;
    text-align: center;
    width: 100%;
    font-weight: bold;
}