@font-face {
    src: url("/static/fonts/TitilliumWeb-Bold.ttf");
    font-family: siteFont;
}
.title{
    font-size: 2vw;
    text-align: center;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    margin: 0!important;

}
.avatar{
    max-height: 4vw;
    max-width: 7vw;
    margin-left: 3vw;
    margin-right: 2vw;
}
.name{
    font-size: 2vw;
}
.info{
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-bottom: solid #202020 1px;
    width: 100%;
    display: inline-flex;
}
.info:hover{
    background-color: #a8a6a6;
    color: #F4E009;
}

.list-container{
    background-color: #7B7979;
    font-family: siteFont;
    height: 100%;
}

.tab-container{
    background-color: #bbbbbb;
    font-family: siteFont;
    padding: 0!important;
    height: 67vh;
    overflow:auto;
    overflow-y:scroll;
}
.tab-button{
    /*background-color: #7B7979;*/
    font-family: siteFont;
}
.tab-button:hover{
    background-color: #bbbbbb;

}
#firstTab{
    background-color: #b1b1b1;
}
#first{
    display: block;
}
#second{
    display: none;
}
.vip-det{
    color: #000000;
    text-decoration: none;
}
.vip-det:hover{
    color: #F4E009;
    text-decoration: none;
}
