{% extends "template.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/css/post-details.css' %}">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-set-0" id="content">

    {% if messages %}
    {% for message in messages %}
    {{ message }}
    <a href="/" class="close">✖</a>

    {% endfor %}

    {% else %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-set-0">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 "></div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 " >
            {% if post.image %}
            <img class="img-post" src={{ post.image.url }}>
            {% else %}
            <img class="img-post" src="{% static 'icons/forumicon.svg' %}">
            {% endif %}
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 "></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-set-0">
        <p class="post-title">{{post.title}}</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="post-content">{{post.content}}</p>
    </div>


    {% endif %}
</div>
{% endblock %}