{% extends "template.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static '/css/information.css' %}">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="informationdiv">
        {% if messages %}
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div class="messages">
                    {% for message in messages %}
                        <div class="{{ message.tags }}" >
                            {{ message }}
                            <a href="/" class="close">✖</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>

        {% else %}
            <div id="infodiv">

                <p id="name"><b>{{ info.name }}</b></p>
                <p class="description" id="description">{{ info.description }} </p>
                <p class="contact-top" id="address">{% trans 'Address:' %} {{ info.address }} </p>
                <p class="contact-mid" id="phone_number">{% trans 'Telephone:' %} {{ info.phone_number }} </p>
                <p class="contact-bot" id="email">{% trans 'Email:' %} {{ info.email }} </p>
            </div>
        {% endif %}


    </div>




{% endblock %}
