{% extends "template.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/team_details.css' %}">


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 team_container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {% if team_name %}
            <div class="team_name">
                <div>{{ team_name }}</div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            {% if team_logo %}
            <div id="frame">
                <img id="team_logo" src={{ team_logo.url }}/>
            </div>
            {% else %}
            <img id="team_img" src="{% static 'icons/teams.svg' %}">

            {% endif %}
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="p-center">{% trans "About us "%}</p>

        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
            {% if team_info %}
            <div class="team_info">
                <div>{{ team_info }}</div>
            </div>
            {% endif %}
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>

    <p class="p-center">{% trans "Team members "%}</p>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " id="team_members">

        {% for member in team_members %}
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-set-10">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="user_image">
                {% if user.image %}
                <img style="width: 3vw" src={{ user.image.url }}>
                {% else %}
                <img style="width: 3vw" src="{% static 'icons/usericon.svg' %}">
                {% endif %}
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" id="users_info"
                 style="text-align: left">
                <p>{{ member.username }}
                    {{ member.first_name }}
                    {{ member.last_name }}</p>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        {% endfor %}

    </div>



</div>
{% else %}
<div class="messages ">
    <a href="/" class="close">✖</a>
    {% trans "The requested team doesn't exist." %}
</div>

{% endif %}

{% endblock %}