{% extends "template.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/team_list.css' %}">


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list_container">
        {% if team %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remove-padding tabs">
                <a href="/team/teams">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tab-button" id="activeTab">
                        <p class="title">{% trans 'Team List' %}</p>
                    </div>
                </a>
                <a href="/team/my-team">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tab-button" id="inactiveTab">
                        <p class="title">{% trans 'Details' %}</p>
                    </div>
                </a>
                <a href="/games/team-games">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tab-button" id="inactiveTab">
                        <p class="title">{% trans 'Games' %}</p>
                    </div>
                </a>
                <a href="/team/request-user">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tab-button" id="inactiveTab">
                        <p class="title">{% trans 'Messages' %}</p>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remove-padding tabs">

                <a href="/team/teams">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tab-button" id="activeTab">
                        <p class="title">{% trans 'Team List' %}</p>
                    </div>
                </a>
                <a href="/team/new">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tab-button" id="inactiveTab">
                        <p class="title">{% trans 'New Team' %}</p>
                    </div>
                </a>
                <a href="/team/join-team">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tab-button" id="inactiveTab">
                        <p class="title">{% trans 'Join Team ' %}</p>
                    </div>
                </a>
            </div>
        {% endif %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tab-container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list_scrollable">
                {% for team in teams %}
                <a href="/team/details/{{ team.id}}" id="name">
                    <div id="info">
                        {% if team.logo %}
                            <img id="avatar" src="{{ team.logo.url }}">
                        {% else %}
                            <img id="avatar" src="{% static 'icons/teams.svg' %}">
                        {% endif %}
                        {{ team.name }}
                    </div>
                </a>

                {% endfor %}
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 remove-padding"></div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 remove-padding">
                {% if teams.has_previous %}
                    <a class="prevtext" href="?page={{ teams.previous_page_number }}">{% trans 'Previous' %}</a>
                {% endif %}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 remove-padding">

                <a class="pagetext">{% trans 'Page' %} {{ teams.number }}
                    {% trans 'of' %} {{ teams.paginator.num_pages }}.</a>

            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 remove-padding">
                {% if teams.has_next %}
                    <a class="nexttext" href="?page={{ teams.next_page_number }}">{% trans 'Next' %}</a>
                {% endif %}
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 remove-padding"></div>

        </div>
    </div>
{% endblock %}

