<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="description" content="initial-scale=1.0">
    <meta name="viewport" content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/template.css' %}">
</head>
<body>
<header id="header"></header>
<nav id="dynamicnavbar">

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 navdiv"></div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 navdiv">
        <p id="countingdowntext">
            {% if days %}
            {% blocktrans count counter=days %}To next Bialjam: {{ days }} day{% plural %}To next Bialjam: {{ days }}
            days{% endblocktrans %}
            {% endif %}
        </p>
    </div>
    {% if user.is_authenticated %}
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 navdiv"></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 navdiv">
        <a href="/accounts/details" class="button" id="hellotext">{% trans 'Welcome' %}, {{ user.username }}</a>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 navdiv">
        <a class="button" href="/accounts/logout">{% trans 'Logout' %}</a>
    </div>
    {% else %}
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 navdiv">
        <a class="button" href="/accounts/signup/">{% trans 'Sign up' %}</a>
        <a class="button" href="/accounts/login/">{% trans 'Login' %}</a>
    </div>
    {% endif %}
</nav>
<div class="container">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" id="logoDiv">
        <a id="imglink" href="/"><img id="logoImage" src="{% static 'logoBialJam.png' %}"></a>
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" id="contet-div">
        {% block content %}

        {% endblock %}
    </div>
</div>
<footer id="footer"></footer>
</body>
</html>
