{% extends "template.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/css/game_details.css' %}">

{% if messages %}
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="messages">
        {% for message in messages %}
        <div class="{{ message.tags }}">
            {{ message }}
            <a href="/" class="close">✖</a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>


{% else %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remove-padding tabs">
    <a href="/games/list">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tab-button" id="inactiveTab">
            <p class="title">{% trans 'Game List' %}</p>
        </div>
    </a>
    <a>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tab-button" id="activeTab">
            <p class="title">{% trans 'Game details' %}</p>
        </div>
    </a>

</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tab-container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-set-0">

        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 remove-padding"></div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 remove-padding" id="img-div">

            {% if game.image %}
            <img id="img-def" src="{{ game.image.url }}">
            {% else %}
            <img id="img-def" src="{% static 'icons/padicon.svg' %}">
            {% endif %}
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 remove-padding">
            <p class="team_header">{{game.name}}</p>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 padding-set-0">

        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-set-0">

        </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-set-0" style="margin-top: 3vw">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 remove-padding"></div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 remove-padding">
            <a class="team_header">{{game.url}}</a>
        </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-set-0">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 remove-padding"></div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 remove-padding">
            <p class="team_header">{{game.description}}</p>
        </div>
    </div>
</div>


{% endif %}
{% endblock %}