{% extends "template.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/css/team_games.css' %}">

{% if messages %}
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="messages">
        {% for message in messages %}
        <div class="{{ message.tags }}">
            {{ message }}
            <a href="/" class="close">✖</a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>

{% else %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remove-padding tabs">
    <a href="/team/teams">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tab-button" id="inactiveTab">
            <p class="title">{% trans 'Team List' %}</p>
        </div>
    </a>
    <a href="/team/my-team">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tab-button" id="inactiveTab">
            <p class="title">{% trans 'Details' %}</p>
        </div>
    </a>
    <a href="/games/team-games">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tab-button" id="inactiveTab">
            <p class="title">{% trans 'Games' %}</p>
        </div>
    </a>
    <a href="/team/request-user">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tab-button" id="inactiveTab">
            <p class="title">{% trans 'Messages' %}</p>
        </div>
    </a>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tab-container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-set-0">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 padding-set-0">

        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-set-0" id="team-confirm">
            <form method="post">{% csrf_token %}
                <p>{% trans 'Are you sure you want to delete' %} {{ game }}?</p>

                <input type="submit" value="Confirm" id="confirm-button"/>
            </form>
        </div>

    </div>
</div>

{% endif %}


{% endblock %}